TRX2HTML Solution/trx2html/obj/
TRX2HTML Solution/trx2html/bin/
TRX2HTML Solution/trx2html.Test/obj/
TRX2HTML Solution/RidoTasks.trx2html/bin/
TRX2HTML Solution/RidoTasks.trx2html/obj/
TRX2HTML Solution/SampleReport/bin/
TRX2HTML Solution/SampleReport/obj/
*.suo
